fastapi~=0.115.9
uvicorn~=0.34.0
python-jose
passlib[bcrypt]
requests~=2.32.3
python-multipart
python-dotenv
sqlalchemy

PyJWT~=2.10.1
pydantic~=2.10.6
APScheduler~=3.11.0

resend~=2.6.0

chromadb~=1.0.6
